:root {
    --restaurant-color: #C08357;
    --sheets-img-bg: 192, 131, 87; /* #C08357'nÄ±n RGB bileÅŸenleri */
}
*{
    touch-action: manipulation;
}
.socials-content{
    overflow: hidden;
}
#socials .swiper-slide{
    height: 110px;
}
.socials-content{
    width: 45px;
    height: 45px;
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    bottom: 0px !important;
}
.header-top-left h5{
    color: var(--restaurant-color);
    font-weight: 400;
}
.header-bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-bg svg circle{
    fill: var(--restaurant-color);
}

.square{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.rectangle{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.orta-bg{
    position: relative;
}
.orta-bg:after{
    content: '';
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    opacity: 0.3;
    left: 0;
    top: 0;
}

.sol-bg{
    position: relative;
}
.sol-bg:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 170px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%);
}

.sag-bg{
    position: relative;
}
.sag-bg:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0; /* SaÄŸ taraftan baÅŸlamasÄ±nÄ± saÄŸlar. */
    height: 100%;
    width: 170px;
    background:linear-gradient(270deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%);
}

.rectangle .products-item .sol{
    display: flex;
    justify-content: start;
    align-items: center;
}
.rectangle .products-item .orta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangle .products-item .sag{
    display: flex;
    justify-content: end;
    align-items: center;
}
.bottom-navigation-row .navigation-item.active .navigation-icon svg path{fill: var(--restaurant-color)}
.bottom-navigation-row .navigation-item:after{
    background: var(--restaurant-color);
}
.navigation-item.active span{color: var(--restaurant-color) !important}
.p-products-items .p-products-item .products-item-text .products-sell{color: var(--restaurant-color)}

.none{
    display: none;
}
.sheets-title-row .products-sell{
    color: var(--restaurant-color);
}
.sheets-text-cal svg path{fill: var(--restaurant-color)}
.address-icon svg path{fill: var(--restaurant-color)}
.phone-icon svg path{fill: var(--restaurant-color)}
.modal-ort .modal-center span{
    color: var(--restaurant-color);
}
.opinion-btn,
.password-copy,
.sheet-submit{
    background: var(--restaurant-color);
}
.bottom-navigation-row .navigation-item:after{background: var(--restaurant-color)}
.about-bottom-text span{color: var(--restaurant-color)}
.swiper-pagination-bullet-active{
    background: var(--restaurant-color) !important;
}
#p-about-desc h2{color: var(--restaurant-color)}
.swiper-scrollbar-drag{background: var(--restaurant-color) !important;}

.prod-cont{
    height: 100%;
}